{% extends "layout.html" %}
{% block page_title %}Settings{% endblock %}
{% block forward_url %}{{ url_for("show_lights") }}{% endblock %}
{% block forward_text %}Lights{% endblock %}
{% block body %}
    <form method="post">
        <fieldset>
            <legend>ISY 994i</legend>
            <table>
                <tbody>
                    <tr>
                        <td>
                            ISY 994i URL
                        </td>
                        <td>
                            <input name="IsyUrl" type="text" maxlength="15" size="15" value="{{ settings.IsyUrl }}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            User Name
                        </td>
                        <td>
                            <input name="IsyUser" type="text" maxlength="20" size="20" value="{{ settings.IsyUser }}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Password
                        </td>
                        <td>
                            <input name="IsyPass" type="text" maxlength="20" size="20" value="{{ settings.IsyPass }}">
                        </td>
                    </tr>
                </tbody>
            </table>
            </fieldset>
        </fieldset>
        <p/>
        <fieldset>
            <legend>User</legend>
            <table>
                <tbody>
                    <tr>
                        <td>
                            User Name
                        </td>
                        <td>
                            <input name="Username" type="text" maxlength="20" size="20" value="{{ settings.Username }}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Password
                        </td>
                        <td>
                            <input name="Password" type="text" maxlength="20" size="20" value="{{ settings.Password }}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Amazon Email
                        </td>
                        <td>
                            <input name="AmazonEmail" type="text" maxlength="40" size="40" value="{{ settings.AmazonEmail }}">
                        </td>
                    </tr>
                </tbody>
            </table>
            </fieldset>
        </fieldset>
        <p/>
        <div style="text-align: center"><input type="submit" value="Save"></div>
    </form>
{% endblock %}
